@charset "UTF-8";
/* Todo Brillo Styles */
/* asomic.com  */
/* -------------------------------- */
/* -------------------------------- */
/* Reset Styles: http://meyerweb.com/eric/tools/css/reset/  */
/* v2.0 | 20110126 */
/* License: none (public domain) */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Basics */
body {
  font-family: "Noto Sans SC";
  line-height: 1.2;
  font-size: 15px;
  max-width: 100%;
  position: relative;
}

/* Typography */
h1, h2, h3, h4, h5, h6 {
  font-weight: 900;
  line-height: 130%;
  color: #1F56A7;
}

h1 {
  font-size: 22px;
  margin-bottom: 16px;
}

@media (min-width: 768px) {
  h1 {
    font-size: 26px;
  }
}
@media (min-width: 900px) {
  h1 {
    font-size: 32px;
    margin-bottom: 18px;
  }
}
h3 {
  font-size: 24px;
}

@media (min-width: 768px) {
  h3 {
    font-size: 25px;
  }
}
@media (min-width: 900px) {
  h3 {
    font-size: 27px;
  }
}
h4 {
  font-size: 20px;
}

@media (min-width: 768px) {
  h4 {
    font-size: 22px;
  }
}
@media (min-width: 900px) {
  h4 {
    font-size: 24px;
  }
}
h6 {
  font-size: 13px;
}

@media (min-width: 900px) {
  h6 {
    font-size: 14px;
  }
}
@media (min-width: 900px) {
  h6 {
    font-size: 14px;
  }
}
p {
  color: #222954;
  line-height: 150%;
  font-size: 14px;
}

@media (min-width: 900px) {
  p {
    font-size: 15px;
  }
}
/* Utilities */
.bg-lightgray {
  background-color: #FAFAFA;
}

.pd-lr {
  padding-left: 1.4em;
  padding-right: 1.4em;
}

@media (min-width: 768px) {
  .pd-lr {
    padding-left: 2.4em;
    padding-right: 2.4em;
  }
}
@media (min-width: 900px) {
  .pd-lr {
    padding-left: 3em;
    padding-right: 3em;
  }
}
@media (min-width: 1400px) {
  .pd-lr {
    padding-left: 4em;
    padding-right: 4em;
  }
}
@media (min-width: 1600px) {
  .pd-lr {
    padding-left: 10em;
    padding-right: 10em;
  }
}
@media (min-width: 1800px) {
  .pd-lr {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
  }
}
/* Hero */
.hero {
  width: 100%;
  height: 100vh;
  background-image: url("../img/hero-back.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 8;
  box-sizing: border-box;
}
.hero::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(9, 38, 82, 0.35);
}
.hero .in {
  position: relative;
  z-index: 10;
  text-align: center;
  padding-bottom: 1em;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.hero .in img {
  width: 120px;
  margin-bottom: 0.8em;
}
.hero .in h3 {
  color: white;
}
.hero .on {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background-color: black;
  opacity: 0;
}

@media (min-width: 768px) {
  .hero .in {
    width: 64%;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 1200px) {
  .hero {
    height: 100vh;
  }
  .hero .in {
    width: 60%;
  }
  .hero .in img {
    width: 180px;
    margin-bottom: 1em;
  }
}
@media (min-width: 1400px) {
  .hero {
    height: 100vh;
  }
  .hero .in {
    width: 50%;
  }
  .hero .in h3 {
    width: 100%;
  }
}
/* Aromatizantes */
.aromatizantes {
  width: 100%;
  background-color: #FAFAFA;
  padding-bottom: 14px;
}
.aromatizantes .aroma-info .aroma-img {
  height: 36vh;
  background-position: center;
  background-size: cover;
  background-color: #BACAE2;
  transition: all ease 0.3s;
  background-image: url("../img/aromatizantes/brisa-marina.jpg");
}
.aromatizantes .aroma-info .aroma-data {
  position: relative;
  z-index: 1;
  padding-top: 16px;
}
.aromatizantes .aroma-info .aroma-data::before {
  content: "";
  height: 100px;
  width: 100%;
  position: absolute;
  top: -20px;
  left: 0;
  right: 0;
  z-index: 2;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../img/curves-1.png");
}
.aromatizantes .aroma-info .aroma-data .item-data {
  position: relative;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
  width: 94%;
}
.aromatizantes .aroma-info .aroma-data .item-data .img {
  z-index: 1;
  margin-top: -24vh;
  width: 100%;
  overflow: hidden;
  height: 420px;
  margin-bottom: 0.4em;
  text-align: center;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("../img/aromatizantes/6.png");
}
.aromatizantes .aroma-info .aroma-data .item-data .img:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  background: linear-gradient(0deg, #fafafa 0%, rgba(250, 250, 250, 0) 51%);
}
.aromatizantes .aroma-info .aroma-data .item-data .img img {
  width: 80%;
}
.aromatizantes .aroma-info .aroma-data .item-data .text {
  z-index: 2;
  margin-top: -20%;
  width: 100%;
  text-align: center;
}
.aromatizantes .aroma-info .aroma-data .item-data .text .standard {
  display: inherit;
}
.aromatizantes .aroma-info .aroma-data .item-data .text .hawaiian,
.aromatizantes .aroma-info .aroma-data .item-data .text .algodon,
.aromatizantes .aroma-info .aroma-data .item-data .text .bambu,
.aromatizantes .aroma-info .aroma-data .item-data .text .lavanda,
.aromatizantes .aroma-info .aroma-data .item-data .text .floral,
.aromatizantes .aroma-info .aroma-data .item-data .text .bebe,
.aromatizantes .aroma-info .aroma-data .item-data .text .vainilla,
.aromatizantes .aroma-info .aroma-data .item-data .text .anti-tabaco {
  display: none;
}
.aromatizantes .aroma-info.hawaiian .aroma-img {
  background-image: url("../img/aromatizantes/hawaii.jpg");
}
.aromatizantes .aroma-info.hawaiian .aroma-data .item-data .img {
  background-image: url("../img/aromatizantes/2.png");
}
.aromatizantes .aroma-info.hawaiian .aroma-data .item-data .text .standard,
.aromatizantes .aroma-info.hawaiian .aroma-data .item-data .text .brisa-marina,
.aromatizantes .aroma-info.hawaiian .aroma-data .item-data .text .algodon,
.aromatizantes .aroma-info.hawaiian .aroma-data .item-data .text .bambu,
.aromatizantes .aroma-info.hawaiian .aroma-data .item-data .text .lavanda,
.aromatizantes .aroma-info.hawaiian .aroma-data .item-data .text .floral,
.aromatizantes .aroma-info.hawaiian .aroma-data .item-data .text .bebe,
.aromatizantes .aroma-info.hawaiian .aroma-data .item-data .text .vainilla,
.aromatizantes .aroma-info.hawaiian .aroma-data .item-data .text .anti-tabaco {
  display: none;
}
.aromatizantes .aroma-info.hawaiian .aroma-data .item-data .text .hawaiian {
  display: inherit;
}
.aromatizantes .aroma-info.algodon .aroma-img {
  background-image: url("../img/aromatizantes/algodon.jpg");
}
.aromatizantes .aroma-info.algodon .aroma-data .item-data .img {
  background-image: url("../img/aromatizantes/3.png");
}
.aromatizantes .aroma-info.algodon .aroma-data .item-data .text .standard,
.aromatizantes .aroma-info.algodon .aroma-data .item-data .text .brisa-marina,
.aromatizantes .aroma-info.algodon .aroma-data .item-data .text .bambu,
.aromatizantes .aroma-info.algodon .aroma-data .item-data .text .lavanda,
.aromatizantes .aroma-info.algodon .aroma-data .item-data .text .floral,
.aromatizantes .aroma-info.algodon .aroma-data .item-data .text .bebe,
.aromatizantes .aroma-info.algodon .aroma-data .item-data .text .vainilla,
.aromatizantes .aroma-info.algodon .aroma-data .item-data .text .anti-tabaco,
.aromatizantes .aroma-info.algodon .aroma-data .item-data .text .hawaiian {
  display: none;
}
.aromatizantes .aroma-info.algodon .aroma-data .item-data .text .algodon {
  display: inherit;
}
.aromatizantes .aroma-info.bambu .aroma-img {
  background-image: url("../img/aromatizantes/bambu.jpg");
}
.aromatizantes .aroma-info.bambu .aroma-data .item-data .img {
  background-image: url("../img/aromatizantes/4.png");
}
.aromatizantes .aroma-info.bambu .aroma-data .item-data .text .standard,
.aromatizantes .aroma-info.bambu .aroma-data .item-data .text .brisa-marina,
.aromatizantes .aroma-info.bambu .aroma-data .item-data .text .lavanda,
.aromatizantes .aroma-info.bambu .aroma-data .item-data .text .floral,
.aromatizantes .aroma-info.bambu .aroma-data .item-data .text .bebe,
.aromatizantes .aroma-info.bambu .aroma-data .item-data .text .vainilla,
.aromatizantes .aroma-info.bambu .aroma-data .item-data .text .anti-tabaco,
.aromatizantes .aroma-info.bambu .aroma-data .item-data .text .algodon,
.aromatizantes .aroma-info.bambu .aroma-data .item-data .text .hawaiian {
  display: none;
}
.aromatizantes .aroma-info.bambu .aroma-data .item-data .text .bambu {
  display: inherit;
}
.aromatizantes .aroma-info.lavanda .aroma-img {
  background-image: url("../img/aromatizantes/lavanda.jpg");
}
.aromatizantes .aroma-info.lavanda .aroma-data .item-data .img {
  background-image: url("../img/aromatizantes/5.png");
}
.aromatizantes .aroma-info.lavanda .aroma-data .item-data .text .standard,
.aromatizantes .aroma-info.lavanda .aroma-data .item-data .text .brisa-marina,
.aromatizantes .aroma-info.lavanda .aroma-data .item-data .text .floral,
.aromatizantes .aroma-info.lavanda .aroma-data .item-data .text .bebe,
.aromatizantes .aroma-info.lavanda .aroma-data .item-data .text .vainilla,
.aromatizantes .aroma-info.lavanda .aroma-data .item-data .text .anti-tabaco,
.aromatizantes .aroma-info.lavanda .aroma-data .item-data .text .algodon,
.aromatizantes .aroma-info.lavanda .aroma-data .item-data .text .hawaiian,
.aromatizantes .aroma-info.lavanda .aroma-data .item-data .text .bambu {
  display: none;
}
.aromatizantes .aroma-info.lavanda .aroma-data .item-data .text .lavanda {
  display: inherit;
}
.aromatizantes .aroma-info.floral .aroma-img {
  background-image: url("../img/aromatizantes/floral.jpg");
}
.aromatizantes .aroma-info.floral .aroma-data .item-data .img {
  background-image: url("../img/aromatizantes/1.png");
}
.aromatizantes .aroma-info.floral .aroma-data .item-data .text .standard,
.aromatizantes .aroma-info.floral .aroma-data .item-data .text .brisa-marina,
.aromatizantes .aroma-info.floral .aroma-data .item-data .text .bebe,
.aromatizantes .aroma-info.floral .aroma-data .item-data .text .vainilla,
.aromatizantes .aroma-info.floral .aroma-data .item-data .text .anti-tabaco,
.aromatizantes .aroma-info.floral .aroma-data .item-data .text .algodon,
.aromatizantes .aroma-info.floral .aroma-data .item-data .text .hawaiian,
.aromatizantes .aroma-info.floral .aroma-data .item-data .text .bambu,
.aromatizantes .aroma-info.floral .aroma-data .item-data .text .lavanda {
  display: none;
}
.aromatizantes .aroma-info.floral .aroma-data .item-data .text .floral {
  display: inherit;
}
.aromatizantes .aroma-info.bebe .aroma-img {
  background-image: url("../img/aromatizantes/bebe.jpg");
}
.aromatizantes .aroma-info.bebe .aroma-data .item-data .img {
  background-image: url("../img/aromatizantes/7.png");
}
.aromatizantes .aroma-info.bebe .aroma-data .item-data .text .standard,
.aromatizantes .aroma-info.bebe .aroma-data .item-data .text .brisa-marina,
.aromatizantes .aroma-info.bebe .aroma-data .item-data .text .vainilla,
.aromatizantes .aroma-info.bebe .aroma-data .item-data .text .anti-tabaco,
.aromatizantes .aroma-info.bebe .aroma-data .item-data .text .algodon,
.aromatizantes .aroma-info.bebe .aroma-data .item-data .text .hawaiian,
.aromatizantes .aroma-info.bebe .aroma-data .item-data .text .bambu,
.aromatizantes .aroma-info.bebe .aroma-data .item-data .text .lavanda,
.aromatizantes .aroma-info.bebe .aroma-data .item-data .text .floral {
  display: none;
}
.aromatizantes .aroma-info.bebe .aroma-data .item-data .text .bebe {
  display: inherit;
}
.aromatizantes .aroma-info.vainilla .aroma-img {
  background-image: url("../img/aromatizantes/vainilla.jpg");
}
.aromatizantes .aroma-info.vainilla .aroma-data .item-data .img {
  background-image: url("../img/aromatizantes/8.png");
}
.aromatizantes .aroma-info.vainilla .aroma-data .item-data .text .standard,
.aromatizantes .aroma-info.vainilla .aroma-data .item-data .text .brisa-marina,
.aromatizantes .aroma-info.vainilla .aroma-data .item-data .text .anti-tabaco,
.aromatizantes .aroma-info.vainilla .aroma-data .item-data .text .algodon,
.aromatizantes .aroma-info.vainilla .aroma-data .item-data .text .hawaiian,
.aromatizantes .aroma-info.vainilla .aroma-data .item-data .text .bambu,
.aromatizantes .aroma-info.vainilla .aroma-data .item-data .text .lavanda,
.aromatizantes .aroma-info.vainilla .aroma-data .item-data .text .floral,
.aromatizantes .aroma-info.vainilla .aroma-data .item-data .text .bebe {
  display: none;
}
.aromatizantes .aroma-info.vainilla .aroma-data .item-data .text .vainilla {
  display: inherit;
}
.aromatizantes .aroma-info.anti-tabaco .aroma-img {
  background-image: url("../img/aromatizantes/anti-tabaco.jpg");
}
.aromatizantes .aroma-info.anti-tabaco .aroma-data .item-data .img {
  background-image: url("../img/aromatizantes/9.png");
}
.aromatizantes .aroma-info.anti-tabaco .aroma-data .item-data .text .standard,
.aromatizantes .aroma-info.anti-tabaco .aroma-data .item-data .text .brisa-marina,
.aromatizantes .aroma-info.anti-tabaco .aroma-data .item-data .text .algodon,
.aromatizantes .aroma-info.anti-tabaco .aroma-data .item-data .text .hawaiian,
.aromatizantes .aroma-info.anti-tabaco .aroma-data .item-data .text .bambu,
.aromatizantes .aroma-info.anti-tabaco .aroma-data .item-data .text .lavanda,
.aromatizantes .aroma-info.anti-tabaco .aroma-data .item-data .text .floral,
.aromatizantes .aroma-info.anti-tabaco .aroma-data .item-data .text .bebe,
.aromatizantes .aroma-info.anti-tabaco .aroma-data .item-data .text .vainilla {
  display: none;
}
.aromatizantes .aroma-info.anti-tabaco .aroma-data .item-data .text .anti-tabaco {
  display: inherit;
}
.aromatizantes .aroma-info.brisa-marina .aroma-img {
  background-image: url("../img/aromatizantes/brisa-marina.jpg");
}
.aromatizantes .aroma-info.brisa-marina .aroma-data .item-data .img {
  background-image: url("../img/aromatizantes/6.png");
}
.aromatizantes .aroma-info.brisa-marina .aroma-data .item-data .text .algodon,
.aromatizantes .aroma-info.brisa-marina .aroma-data .item-data .text .hawaiian,
.aromatizantes .aroma-info.brisa-marina .aroma-data .item-data .text .bambu,
.aromatizantes .aroma-info.brisa-marina .aroma-data .item-data .text .lavanda,
.aromatizantes .aroma-info.brisa-marina .aroma-data .item-data .text .floral,
.aromatizantes .aroma-info.brisa-marina .aroma-data .item-data .text .bebe,
.aromatizantes .aroma-info.brisa-marina .aroma-data .item-data .text .anti-tabaco,
.aromatizantes .aroma-info.brisa-marina .aroma-data .item-data .text .vainilla,
.aromatizantes .aroma-info.brisa-marina .aroma-data .item-data .text .brisa-marina {
  display: none;
}
.aromatizantes .aroma-info.brisa-marina .aroma-data .item-data .text .standard {
  display: inherit;
}
.aromatizantes .selector {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  position: relative;
  height: 170px;
  padding-top: 30px;
  padding-bottom: 28px;
}
.aromatizantes .selector .swiper-container {
  width: 100%;
  height: 100%;
}
.aromatizantes .selector .swiper-container .swiper-wrapper .swiper-slide {
  cursor: pointer;
  text-align: center;
  font-size: 18px;
  background: transparent;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  justify-content: center;
}
.aromatizantes .selector .swiper-container .swiper-wrapper .swiper-slide img {
  height: 65%;
  margin-bottom: 10px;
  box-sizing: border-box;
}
.aromatizantes .selector .swiper-container .swiper-wrapper .swiper-slide h6 {
  box-sizing: border-box;
  width: 100%;
  height: 30%;
}
.aromatizantes .selector .swiper-container .swiper-pagination {
  bottom: 0px;
}

@media (min-width: 768px) {
  .aromatizantes {
    padding-bottom: 20px;
  }
  .aromatizantes .aroma-info .aroma-data::before {
    top: -60px;
    background-size: cover;
  }
  .aromatizantes .aroma-info .aroma-data .item-data {
    margin-top: -32%;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: space-between;
  }
  .aromatizantes .aroma-info .aroma-data .item-data .img {
    width: 35%;
    margin-top: 0;
    margin-bottom: 0;
  }
  .aromatizantes .aroma-info .aroma-data .item-data .img:before {
    display: none;
  }
  .aromatizantes .aroma-info .aroma-data .item-data .img img {
    width: 60%;
  }
  .aromatizantes .aroma-info .aroma-data .item-data .text {
    align-self: flex-end;
    width: 64%;
    padding-right: 20px;
    text-align: left;
    box-sizing: border-box;
    padding-bottom: 1.8em;
  }
  .aromatizantes .selector {
    width: 86%;
  }
}
@media (min-width: 900px) {
  .aromatizantes .aroma-info .aroma-img {
    height: 380px;
  }
  .aromatizantes .aroma-info .aroma-data::before {
    top: -96px;
  }
  .aromatizantes .aroma-info .aroma-data .item-data {
    margin-top: -30%;
    width: 80%;
  }
  .aromatizantes .aroma-info .aroma-data .item-data .img {
    height: 480px;
  }
  .aromatizantes .selector {
    width: 78%;
  }
}
@media (min-width: 1200px) {
  .aromatizantes .aroma-info .aroma-img {
    height: 440px;
  }
  .aromatizantes .aroma-info .aroma-data::before {
    top: -140px;
    height: 160px;
  }
  .aromatizantes .aroma-info .aroma-data .item-data {
    margin-top: -28%;
    width: 74%;
  }
  .aromatizantes .aroma-info .aroma-data .item-data .img {
    height: 500px;
  }
  .aromatizantes .aroma-info .aroma-data .item-data .text {
    width: 62%;
    padding-bottom: 2.2em;
  }
  .aromatizantes .selector {
    width: 66%;
  }
}
@media (min-width: 1400px) {
  .aromatizantes .aroma-info .aroma-data .item-data {
    margin-top: -27%;
    width: 74%;
  }
  .aromatizantes .aroma-info .aroma-data .item-data .img {
    height: 520px;
  }
  .aromatizantes .aroma-info .aroma-data .item-data .img img {
    width: 56%;
  }
  .aromatizantes .aroma-info .aroma-data .item-data .text {
    width: 62%;
    padding-bottom: 2.2em;
  }
  .aromatizantes .selector {
    width: 100%;
    max-width: 920px;
  }
}
@media (min-width: 1600px) {
  .aromatizantes .aroma-info .aroma-img {
    height: 480px;
  }
  .aromatizantes .aroma-info .aroma-data.pd-lr {
    max-width: 100%;
    padding-left: 10em;
    padding-right: 10em;
  }
  .aromatizantes .aroma-info .aroma-data .item-data {
    margin-top: -23%;
    width: 74%;
  }
  .aromatizantes .aroma-info .aroma-data .item-data .img img {
    width: 48%;
  }
  .aromatizantes .aroma-info .aroma-data .item-data .text {
    width: 62%;
    padding-right: 12%;
    padding-bottom: 2.2em;
  }
}
/* Columns: Automatico, Eléctrico, Lustramuebles, Renovadores */
.columns .column {
  background-color: #FAFAFA;
}
.columns .column .header {
  width: 100%;
  height: 320px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.columns .column .header::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: linear-gradient(180deg, rgba(250, 250, 250, 0) 33.43%, #FAFAFA 88.16%);
}
.columns .column .header .img {
  z-index: 1;
  width: 210px;
  height: 240px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: all ease 0.3s;
}
.columns .column .header img {
  position: relative;
  z-index: 2;
  margin-bottom: 12px;
  height: 240px;
}
.columns .column .body {
  padding-bottom: 46px;
}
.columns .column .body .selector {
  position: relative;
  margin-top: 14px;
}
.columns .column .body .selector .in {
  display: flex;
  margin: auto;
  max-width: 90%;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 24px;
  width: auto;
  background-color: #FAFAFA;
  position: relative;
  outline: none;
}
.columns .column .body .selector .in .item {
  cursor: pointer;
  z-index: 99;
  width: 20%;
  text-align: center;
  box-sizing: border-box;
  position: relative;
}
.columns .column .body .selector .in .item .name {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 46px;
  padding: 6px;
  border-radius: 3px;
  z-index: 4;
  background-color: #3B4A5F;
  transition: all ease 0.3s;
}
.columns .column .body .selector .in .item .name::before {
  content: "";
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  width: 10px;
  height: 10px;
  background-color: #3B4A5F;
  bottom: -4px;
  z-index: -1;
  transform: rotate(-45deg);
}
.columns .column .body .selector .in .item .name p {
  width: auto;
  color: white;
  text-align: center;
  font-size: 12px;
  line-height: 110%;
}
.columns .column .body .selector .in .item:hover .name, .columns .column .body .selector .in .item:focus .name {
  opacity: 1;
  visibility: visible;
}
.columns .column .body .selector .in .item img {
  height: 24px;
  margin-bottom: 6px;
}
.columns .column .body .data {
  text-align: center;
  margin: auto;
  width: 84%;
}
.columns .column .body .data h4 {
  margin-bottom: 16px;
}
.columns .column.automatico .header img {
  margin-left: -6px;
}
.columns .column.automatico .header .img {
  background-image: url("../img/automaticos/1.png");
}
.columns .column.automatico .header .img.a-lavanda {
  background-image: url("../img/automaticos/item-lavanda.png");
}
.columns .column.automatico .header .img.a-manzana {
  background-image: url("../img/automaticos/item-manzana.png");
}
.columns .column.automatico .header .img.a-bebe {
  background-image: url("../img/automaticos/item-bebe.png");
}
.columns .column.automatico .header .img.a-brisa {
  background-image: url("../img/automaticos/item-brisa.png");
}
.columns .column.automatico .header .badges {
  position: absolute;
  width: 100%;
  height: 100%;
}
.columns .column.automatico .header .badges::before {
  content: "";
  z-index: 2;
  position: absolute;
  top: -5%;
  left: 142px;
  right: 0;
  margin: auto;
  width: 100px;
  height: 100px;
  margin-top: 14%;
  background-color: transparent;
  background-image: url("../img/automaticos/disparos.png");
  background-position: center;
  background-size: cover;
}
.columns .column.automatico .header .badges::after {
  content: "";
  z-index: 2;
  position: absolute;
  width: 60px;
  height: 60px;
  margin: auto;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: transparent;
  background-image: url("../img/automaticos/dias.png");
  background-position: center;
  background-size: cover;
}
.columns .column.electricos .header .img {
  background-image: url("../img/electricos/1.png");
}
.columns .column.electricos .header .img.e-lavanda {
  background-image: url("../img/electricos/item-lavanda.png");
}
.columns .column.electricos .header .img.e-manzana {
  background-image: url("../img/electricos/item-manzana.png");
}
.columns .column.electricos .header .img.e-bebe {
  background-image: url("../img/electricos/item-bebe.png");
}
.columns .column.electricos .header .img.e-brisa {
  background-image: url("../img/electricos/item-brisa.png");
}
.columns .column.electricos .header .badges {
  position: absolute;
  width: 100%;
  height: 100%;
}
.columns .column.electricos .header .badges::before {
  content: "";
  z-index: 2;
  position: absolute;
  width: 105px;
  height: 67px;
  margin: auto;
  right: 0;
  left: 190px;
  top: 17%;
  background-color: transparent;
  background-image: url("../img/electricos/aceites-naturales.png");
  background-position: center;
  background-size: cover;
}
.columns .column.electricos .header .badges::after {
  content: "";
  z-index: 2;
  position: absolute;
  width: 200px;
  height: 174px;
  margin: auto;
  bottom: -52px;
  right: 0;
  left: 0;
  background-color: transparent;
  background-image: url("../img/electricos/sensaciones.png");
  background-position: center;
  background-size: cover;
}

@media (min-width: 768px) {
  .columns {
    display: flex;
  }
  .columns .column {
    width: 50%;
  }
  .columns .column .body {
    padding-bottom: 52px;
  }
  .columns .column .body .selector .in {
    padding-top: 24px;
    padding-bottom: 26px;
  }
  .columns .column .body .data {
    width: 74%;
  }
}
@media (min-width: 900px) {
  .columns .column .body {
    padding-bottom: 62px;
  }
  .columns .column .body .selector .in {
    max-width: 70%;
  }
  .columns .column .body .data {
    width: 70%;
  }
  .columns .column .body .data h4 {
    margin-bottom: 18px;
  }
  .columns .column.automatico .header .badges::before {
    top: -10%;
  }
}
@media (min-width: 1200px) {
  .columns .column .header {
    height: 380px;
  }
  .columns .column .header img {
    height: 280px;
  }
  .columns .column .body {
    padding-bottom: 76px;
  }
  .columns .column .body .selector .in {
    max-width: 66%;
  }
  .columns .column .body .data {
    width: 60%;
  }
  .columns .column.automatico .header .badges::before {
    top: 0%;
  }
  .columns .column.electricos .header .badges::before {
    top: 27%;
  }
}
@media (min-width: 1440px) {
  .columns .column .header img {
    height: 280px;
  }
  .columns .column .body {
    padding-bottom: 76px;
  }
  .columns .column .body .selector .in {
    max-width: 48%;
  }
  .columns .column .body .data {
    width: 60%;
  }
  .columns .column.automatico .header .badges::before {
    top: -2%;
  }
}
@media (min-width: 1600px) {
  .columns .column .header img {
    height: 280px;
  }
  .columns .column .body {
    padding-bottom: 76px;
  }
  .columns .column .body .selector .in {
    max-width: 48%;
  }
  .columns .column .body .data {
    width: 60%;
  }
  .columns .column.automatico .header .badges::before {
    top: -4%;
  }
}
/* Desinfectantes */
.desinfectantes {
  background-color: #FAFAFA;
}
.desinfectantes .img {
  width: 100%;
  height: 220px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  z-index: 2;
}
.desinfectantes .img::before {
  content: "";
  height: 40px;
  width: 100%;
  position: absolute;
  background-size: cover;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background-repeat: no-repeat;
  background-image: url("../img/curves-1.png");
}
.desinfectantes .data {
  position: relative;
  text-align: center;
  margin: auto;
  width: 80%;
  position: relative;
  margin-top: -110px;
  padding-bottom: 48px;
  z-index: 3;
}
.desinfectantes .data img {
  width: 90%;
  margin-bottom: 18px;
}
@media (min-width: 768px) {
  .desinfectantes .img {
    height: 300px;
  }
  .desinfectantes .data {
    width: 64%;
    margin-top: -140px;
    padding-bottom: 52px;
  }
  .desinfectantes .data img {
    width: 80%;
  }
}
@media (min-width: 900px) {
  .desinfectantes .img {
    height: 350px;
  }
  .desinfectantes .data {
    width: 55%;
    margin-top: -190px;
    padding-bottom: 72px;
  }
  .desinfectantes .data img {
    width: 80%;
    margin-bottom: 20px;
  }
}
@media (min-width: 1200px) {
  .desinfectantes .img {
    height: 420px;
  }
  .desinfectantes .img::before {
    height: 70px;
  }
  .desinfectantes .data {
    width: 45%;
    margin-top: -240px;
    padding-bottom: 78px;
  }
  .desinfectantes .data img {
    width: 96%;
    margin-bottom: 30px;
  }
}
/* Productos Líderes */
.lideres {
  background-color: #FAFAFA;
}
.lideres .header {
  width: 100%;
  height: 260px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.lideres .header::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: linear-gradient(180deg, rgba(250, 250, 250, 0) 33.43%, #FAFAFA 88.16%);
}
.lideres .header img {
  position: relative;
  z-index: 2;
  margin-bottom: 22px;
  height: 170px;
}
.lideres .body {
  text-align: center;
  padding-bottom: 48px;
}
@media (min-width: 768px) {
  .lideres .header {
    height: 380px;
  }
  .lideres .header img {
    height: 260px;
  }
  .lideres .body {
    width: 70%;
    padding-bottom: 52px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 900px) {
  .lideres .header img {
    height: 260px;
  }
  .lideres .body {
    width: 50%;
    padding-bottom: 56px;
  }
}
@media (min-width: 1200px) {
  .lideres .header {
    height: 500px;
  }
  .lideres .header img {
    height: 320px;
  }
  .lideres .body {
    width: 45%;
    padding-bottom: 74px;
  }
}
/* Contacto */
.contacto {
  background-color: #F2F5F9;
  padding-top: 48px;
  padding-bottom: 40px;
}
.contacto .in .data {
  margin-bottom: 24px;
  text-align: center;
}
.contacto .in .form form input, .contacto .in .form form textarea {
  background-color: transparent;
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  box-shadow: none;
  border-radius: 2px;
  border: solid 1px #293578;
  padding: 8px 14px;
  width: 100%;
  font-size: 14px;
  color: #8387A3;
  margin-bottom: 6px;
  box-sizing: border-box;
}
.contacto .in .form form input::placeholder, .contacto .in .form form textarea::placeholder {
  color: #8387A3;
}
.contacto .in .form form input[type=submit] {
  background-color: #1F56A7;
  border: solid 1px #1F56A7;
  color: white;
  cursor: pointer;
  font-weight: 900;
}
.contacto .in .form form textarea {
  height: 120px;
}

@media (min-width: 768px) {
  .contacto {
    padding-top: 60px;
    padding-bottom: 42px;
  }
  .contacto .in {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .contacto .in .data {
    width: 30%;
    text-align: left;
  }
  .contacto .in .form {
    width: 60%;
  }
  .contacto .in .form form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .contacto .in .form form input, .contacto .in .form form textarea {
    font-family: inherit;
    margin-bottom: 10px;
  }
  .contacto .in .form form input {
    width: 49%;
  }
  .contacto .in .form form input[type=submit] {
    width: 100%;
  }
  .contacto .in .form form textarea {
    width: 100%;
    height: 100px;
  }
}
@media (min-width: 900px) {
  .contacto .in {
    width: 84%;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 1200px) {
  .contacto {
    padding-top: 72px;
    padding-bottom: 50px;
  }
  .contacto .in {
    width: 74%;
  }
  .contacto .in .data {
    width: 32%;
  }
  .contacto .in .form {
    width: 55%;
  }
  .contacto .in .form form textarea {
    height: 140px;
  }
}
/* Footer */
footer {
  background-color: #3B4A5F;
}
footer p {
  color: #BACAE2;
  text-align: center;
  padding: 16px 0;
  font-size: 12px;
}